# Exercises: Creating, Updating, and Destroying Objects

For the exercises, you will be working with objects and data you create. Before opening this notebook, make sure that you have set up the new connection to the server and that you have located the database and your schema.

## Object Creation

Before coding, think of three things you want to make. These could be coding projects, new recipes, or planned projects for a woodworking hobby. Brainstorm the appropriate column names and data types as well.

Create a table under your schema called `planned_makes`.

In [20]:

CREATE TABLE junkdb_kC.FNU.planned_makes(
    Project_ID INT PRIMARY KEY,
    Project_Name NVARCHAR(50) ,
    Difficulty_level INT,
    Start_Date Date,
    End_Date Date,
    Notes NVARCHAR(100)
)

Add three rows to your table that are your planned makes.

In [24]:
INSERT INTO junkdb_kc.FNU.planned_makes (Project_ID,Project_Name,Difficulty_level,Start_Date,End_Date,Notes)
VALUES ('3','TV Stand', '10', '3/7/2023', '3/20/2023', 'notes for TV Stand');

## Update a Row

Change different values in one of your three rows.

In [25]:
UPDATE junkdb_kc.FNU.planned_makes
SET 
    Project_Name = 'Chairs'
WHERE 
    Project_ID = 3 ;

## Delete a Row

Delete one of the rows from your table.

In [26]:
DELETE FROM junkdb_kc.FNU.planned_makes
WHERE Project_ID = 3;

## Drop the Table

While this has been fun, it is time to drop the table!

In [28]:
DROP TABLE junkdb_kc.FNU.planned_makes;